.callout {
    padding: 3.6rem;
    background: $accent-dark;
    background: linear-gradient(180deg, rgba($accent-dark,1) 25%, rgba($accent-dark,0.9) 50%, rgba($accent-dark,1) 75%);
    color: #fff;

    &.stores-info {
        background: $light-5;
        font-size: 1.6rem;
        color: $dark-0;

        iframe {
            border: 1px solid $light-25 !important;
            background: $light-25;
        }

        @media #{$xs-only} {
            margin: 0 -3.6rem;
        }
    }
}