.callout {
    padding: 3.6rem;
    background: $flood-dark;
    color: #fff;

    &.stores-info {
        background: $light-5;
        font-size: 1.6rem;
        color: $dark-0;

        iframe {
            border: 1px solid $light-25 !important;
            background: $light-25;
        }

        @media #{$xs-only} {
            margin: 0 -3.6rem;
        }
    }
}