$width: 100px;

.home {
  .splide__slide {
    @include position;
    @include size(100%, calc(100vh - 200px));
    background: #000;

    .bar-w {
      @include position(absolute, 2, (bottom, left), (0, 0));
    }

    .bar {
      @include display(flex, row nowrap, space-between, center);
      padding: 24px 36px;
      margin: 0 ($width * 2) 0 0;
      @include colors(rgba($accent-dark, 0.9), $light-0);

      // Animation
      opacity: 0;
      transform: translateX(-50%);
      transition: all 0.5s ease-out;
    }

    .copy {
      padding-right: 36px;

      // Animation
      opacity: 0;
      transform: translateX(-20px);
      transition: all 0.2s ease-in 0.5s;
    }

    .btn {
      // Animation
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.2s ease-in 0.7s;
    }

    img {
      @include position(
        absolute,
        null,
        (top, left),
        (50%, 50%),
        translate(-50%, -50%)
      );
      max-width: none;
      width: 100%;
      min-height: 100%;
    }

    &.is-active {
      // Animation
      .bar {
        opacity: 1;
        transform: translateX(0);
      }
      img {
        animation: grow-move 5s linear 0s;
      }
      .copy,
      .btn {
        opacity: 1;
        transform: translate(0);
      }
    }

    &.is-prev,
    &.is-next {
      img {
        display: none;
      }
    }
  }

  @import "carousel/pagination";
  @import "carousel/arrows";
}
