.card {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    @include colors($light-0, $dark-0, $dark-0, $accent-dark);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0rem 0rem 0.8rem 0.2rem rgba(0,0,0,0.35);
    transition: all 0.2s ease-out;

    .img-w {
        margin: 0;
        
    }
    .card-copy {
        padding: 1.5rem;
    }
    .card-title {
        font-size: 2rem;
        line-height: 1.5;
        transition: all .2s ease-out;

        a {
            transition: all .2s ease-out;
        }
    }

    &.card-lg {
        max-width: none;
        border: 0.6rem solid $accent;

        .card-copy {
            padding: 3rem;
        }
        .card-title {
            font-size: 2.2rem;
            line-height: 1.4;
            @media #{$sm-up} {
                font-size: 2.6rem;
                line-height: 1.35;
            }
        }
    }

    &.card-service {
        @media #{$xs-only} {
            width: calc(100% + 2.4rem);
            margin: 0 -1.2rem;
            max-width: none;
        }

        .card-title {
            @include display(flex, row nowrap, center, center);
            @include position(relative, 1);
            padding: 1.2rem;
            text-align: center;
            background: rgba($accent-dark, 0.85);
            font-size: 2.4rem;
            line-height: 1.2;
            color: $light-0;
            @media #{$sm-up} {
                height: 7rem;
                margin: -7rem 0 0;
                padding: 0 1.8rem;
                font-size: 2rem;
            }
            @media #{$md-up} {
                height: 8rem;
                margin: -8rem 0 0;
                padding: 0 2.4rem;
                font-size: 2.4rem;
            }
        }

        .card-copy {
            padding: 2.4rem;
        }

        &:not(.no-hover) {
            @include hover {
                .card-title {
                    color: $accent;
                }
            }
        }
    }

    &:not(.no-hover) {
        @include hover {
            transform: scale(1.05);
            box-shadow: 0rem 0rem 1.6rem 0.4rem rgba(0,0,0,0.1);
    
            .card-title {
                color: $accent-dark;
            }
            .card-copy {
                color: $dark-0;
            }
        }
    }
}

.cards {
    align-items: stretch;

    > .cell {
        @include display(flex, row wrap, null, stretch);
    }
}