$width: 100px;

.home {

  .splide {
    width: 100%;
  }

  .splide .splide__slide {
    @include display(flex, row nowrap, null, stretch);
    @include position;
    @include size(100%);
    background: #000;

    .cnt {
      @include display(flex, row wrap, null, center);
      width: 100%;
      overflow: hidden;
      @media #{$lg-up} {
        flex-flow: row-reverse nowrap;
        max-height: 50rem;
      }

      .callout {
        flex: 0 0 100%;
        @media #{$lg-up} {
          flex: 0 0 (100% / 2);
          min-height: 45rem;
        }
        @media #{$xl-up} {
          flex: 0 0 (100% / 3);
        }
        @include display(flex, column nowrap, center, flex-start);
        align-self: stretch;

        .copy {
          margin-bottom: 2rem;
        }
      }

      .img-w {
        flex: 0 0 100%;
        @media #{$lg-up} {
          flex: 0 0 (100% / 2);
        }
        @media #{$xl-up} {
          flex: 0 0 (100% / 3 * 2);
        }
        margin: 0;

        @media #{$lg-only} {
          img {
            width: auto;
            max-width: none;
            max-height: 100%;
          }
        }
      }
    }

    .bar {
      @include display(flex, row nowrap, space-between, center);
      padding: 24px 36px;
      margin: 0 ($width * 2) 0 0;
      @include colors(rgba($accent-dark, 0.9), $light-0);

      // Animation
      opacity: 0;
      transform: translateX(-50%);
      transition: all 0.5s ease-out;
    }

    .copy {
      // Animation
      opacity: 0;
      transform: translateX(-20px);
      transition: all 0.2s ease-in 0.5s;
    }

    .btn-group {
      // Animation
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.2s ease-in 0.7s;
    }

    img {
      @include position(
        absolute,
        null,
        (top, left),
        (50%, 50%),
        translate(-50%, -50%)
      );
    }

    &.is-active {
      // Animation
      .bar {
        opacity: 1;
        transform: translateX(0);
      }
      img {
        animation: grow-move 5s linear 0s;
      }
      .copy,
      .btn-group {
        opacity: 1;
        transform: translate(0);

        .btn {
          transition: all .2s ease-in;
          @include hover {
            transform: translate(0) scale(1.1);
          }
        }
      }
    }

    &.is-prev,
    &.is-next {
      img {
        display: none;
      }
    }
  }

  @import "carousel/pagination";
  @import "carousel/arrows";
}
