.wpcf7-form {
    width: 100%;
    max-width: 800px;
    margin: 1.3em 0;

    .wpcf7-textarea {
        height: 6em;
        resize: vertical;
    }

    div[data-class="wpcf7cf_group"] {
        width: 100%;
        padding: 0.6rem 1.6rem;
    }

    .wpcf7-list-item {
        margin: 0;
    }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.35em 0.7em;
    border-radius: 3px;
    font-size: $font__font-size-body;
    line-height: $font__line-height-body;
}

select {
    padding: 6px;
}

input[type="file"],
input[type="submit"] {
    font-size: $font__font-size-body;
    line-height: $font__line-height-body;
}

label {
    font-size: $font__font-size-body;
    line-height: 2;
    font-weight: 600;

    .required {
        display: inline-block;
        padding-left: .25em;
        font-weight: 600;
        color: red;
    }
}

.wpcf7-checkbox.multi-select {
    @include display(flex, column nowrap);
    height: 7em;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 3px;

    .wpcf7-list-item > label {
        @include display(block);
        padding: 0 1rem;
        font-weight: 400;
        transition: all .2s ease;
        cursor: pointer;
        
        @include hover {
            background: $light-5;
        }
    }
}

.wpcf7 form.wpcf7-form {
    .wpcf7-response-output {
        padding: 0;
        text-align: center;
        border: 0;
    }

    &.invalid .wpcf7-response-output,
    &.error .wpcf7-response-output {
        color: red;
    }

    &.spam .wpcf7-response-output {
        color: orange;
    }

    &.success .wpcf7-response-output {
        color: green;
    }
    .wpcf7-not-valid-tip {
        margin-top: 0.5rem;
        line-height: 1.3;
    }
}

#mfcf7_zl_multifilecontainer {
    .wpcf7-form-control-wrap.file {
        @include display(flex, row nowrap, null, center);
    }
    .mfcf7-zl-multifile-name,
    .mfcf7_zl_delete_file,
    #mfcf7_zl_add_file {
        font-size: 1.4rem;
    }
    #mfcf7_zl_add_file {
        cursor: pointer;
        transition: all .2s ease;
        @include hover {
            border-color: $light-50;
        }
    }
}