.main-navigation {
	display: block;
	width: 100%;

	.menu-toggle {
		background: none;
		border: 0;
		cursor: pointer;
		transition: all .2s ease-out;

		.fas {
			padding-left: 0.5em;
		}

		@include hover {
			background: $accent;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media #{$md-down} {
	.menu-primary-menu-container {
		@include position(absolute, 0, (top, left), (70px, 0));
		width: 100%;
		background: $dark-10;
		box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
		color: $light-0;

		#primary-menu {
			@include display(none, column nowrap, flex-start, center);
			@media #{$md-up} {
				flex-flow: row wrap;
				justify-content: center;
			}

			li.menu-item:not(.btn) > a {
				color: $light-0;
				transition: all .2s ease-out;
	
				@include hover  {
					color: $accent;
				}
			}
		}

		.main-navigation.toggled & #primary-menu {
			@include display;
		}
	}
	

}
@media #{$lg-up} {
	.menu-toggle {
		display: none !important;
	}
}

@media screen and (min-width: 37.5em) {
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
