.menu,
.sub-menu {
	margin: 0;
	padding-left: 0;
	list-style: none;

	&.menu-x {
		@include display(flex, row nowrap, null, center);
	}
}

#menu-social-menu {
	@include display(flex, row nowrap, null, center);
}

.main-navigation {
	@include display(flex, row nowrap, null, center);
	@include size(100%);

	.menu-primary-menu-container {
		@include position(absolute, 0, (top, left), (70px, 0));
		width: 100%;
		background: $dark-10;
		@media #{$lg-up} {
			@include position(static);
			height: 100%;
			background: none;
		}

		#primary-menu {
			@include display(none, column nowrap, center, center);
			padding: 0.6rem 0 1.2rem;
			@media #{$sm-up} {
				flex-flow: row nowrap;
				padding: 0;
			}
			@media #{$lg-up} {
				@include display(flex, null, flex-end, stretch);
				height: 100%;

				.menu-item {
					@include display(flex, row nowrap, null, stretch);
					height: 100%;
				}
			}
		}
	}

	.sub-menu {
		padding: 0 1.2rem;
	}

	.menu-item {
		@include position(relative);
		width: auto;
		text-align: center;
		@media #{$sm-up} {
			text-align: left;
		}
		font-weight: 700;

		a {
			@include display(inline-flex, row nowrap, null, center);
			padding: 1.2rem;
			text-decoration: none;
			white-space: nowrap;
			transition: all .2s ease-out;

			@media #{$md-down} {
				color: $light-0;
				@include hover {
					color: $accent;
				}
			}
		}

		&.menu-item-has-children {
			
			.sub-menu {
				@include display(flex, column wrap, flex-start, flex-start);
				background: $dark-10;
				border-top: 2px solid $light-50;
				border-bottom: 2px solid $light-50;
				@media #{$sm-up} {
					@include display(none);
					@include position(absolute, 99999, top, 100%);
				}
				@media #{$md-up} {
					border-bottom: 0;
				}
				@media #{$lg-up} {
					background: $light-0;
					border-color: $light-10;
				}

				.menu-item {
					width: 100%;
					white-space: nowrap;
				}
			}
			> a {
				cursor: default;
				pointer-events: none;
			}
			@media #{$xs-only} {
				> a {
					color: $light-25;
				}
			}
			
			@include hover {
				> a {
					color: $light-25;
					@media #{$lg-up} {
						color: lighten($accent-dark, 15%);
					}
				}
				.sub-menu {
					@include display(flex);
				}
			}
			&.focus {
				.sub-menu {
					@include display(flex);
				}
			}
		}
		&.btn > a {
			align-self: center;
		}
	}

	.menu-toggle {
		@include display(block);
		@media #{$lg-up} {
			@include display(none);
		}
		margin-left: auto;
		background: none;
		border: 0;
		line-height: 1;
		cursor: pointer;
		transition: all .2s ease-out;

		.fas {
			padding-left: 0.5em;
		}

		@include hover {
			background: $accent;
		}
	}

	&.toggled {

		#primary-menu {
			@include display(flex);
		}

		.menu-toggle {
			background: $accent-dark;
			color: $light-0;
		}
	}	
}