$xs-only: " screen and (max-width: 576px)";
$sm-up: " screen and (min-width: 576.1px)";
$sm-down: " screen and (max-width: 768px)";
$md-up: " screen and (min-width: 768.1px)";
$md-down: " screen and (max-width: 1024px)";
$lg-up: " screen and (min-width: 1024.1px)";
$lg-down: " screen and (max-width: 1200px)";
$xl-up: " screen and (min-width: 1200.1px)";
$xxl-up: " screen and (min-width: 1440.1px)";