.btn,
input[type="submit"].btn {
  @include display(inline-flex, row nowrap, center, center);
  padding: 0.5em 1em;
  border-radius: 5px;
  background: $accent;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  font-size: 21px;
  font-weight: 600;
  white-space: nowrap;
  color: $dark-10;
  cursor: pointer;
  transition: all .2s ease-out;

  &:not(.no-hover) {
    @include hover {
      transform: scale(1.1);
      background: $accent-dark;
      box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }

  &.secondary {
    background: $accent-dark;
    color: $light-0;
    box-shadow: none;

    @include hover {
      box-shadow: none;
    }
  }

  &.btn-sm {
    font-size: 16px;
  }

  &.menu-item {
    padding: 1rem 2rem;
    box-shadow: none;

    a {
      font-size: 1.6rem;
      color: $dark-10;
      transition: all .2s ease-out;
    }

    @include hover {
      a {
        color: #fff;
      }
    }
  }
}
