.site-footer {

  .footer-content,
  .site-info {
    @include display(flex, column nowrap, flex-start, center);
  }
  .footer-content {
    padding: 3rem 3.6rem;
    @include colors($dark-10, $light-0);

    .store {
      @include display(block);
    }

    h2 {
      font-size: 2.1rem;
      color: $light-10;
    }

    table,
    p {
      font-size: 1.6rem;
      color: $light-25;
    }
  }
  .site-info {
    padding: 1.5rem 3.6rem;
    @include colors($dark-0, $light-50);

    p {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.4rem;
    }

    .credit {
      font-size: 1.2rem;

      a {
        text-decoration: underline;

        @include hover {
          color: $light-25;
          text-decoration: underline;
        }
      }
    }
  }
}
