.row,
.col,
.grid {
  @include display(flex, null, flex-start, flex-start);
  width: calc(100% + 2.4rem);
  max-width: 120rem;
  margin: 0 -1.2rem;
  padding: 0;
  list-style: none;

  .cell {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 1.2rem;
  }

  &.no-pad {
    > .cell {
      padding: 0;
    }
  }

  &.pad-y {
    > .cell {
      padding: 1.8rem 1.2rem;
    }
  }

  &.expand {
    max-width: calc(100% + 2.4rem);
  }

  &.va-center {
    align-items: center;
  }

  &.va-stretch {
    align-items: stretch;
  }

  &.ha-end {
    justify-content: flex-end;
  }

  &.ha-between {
    justify-content: space-between;
  }

  &.ha-center {
    justify-content: center;
  }

  &.ha-around {
    justify-content: space-around;
  }

  &.ac-center {
    align-content: center;
  }

  @media #{$sm-up} {
    &.ha-end-sm {
      justify-content: flex-end;
    }
  }

  &.form {

    > .cell {
      padding: 0.6rem 1.8rem;
    }
  }
}

.row,
.grid {
  flex-flow: row wrap;
}

.col {
  flex-flow: column wrap;
}

.grid {

  &[class*=" up-"] {
    > .cell {
      padding: 1.8rem 1.2rem;
    }
  }

  &.up-1 {
    > .cell {
      flex: 0 0 100%;
    }
  }

  &.up-2 {
    > .cell {
      flex: 0 0 (100% / 2);
      max-width: (100% / 2);
    }
    @media #{$sm-up} {
      &-sm {
        > .cell {
          flex: 0 0 (100% / 2);
          max-width: (100% / 2);
        }
      }
    }
    @media #{$md-up} {
      &-md {
        > .cell {
          flex: 0 0 (100% / 2);
          max-width: (100% / 2);
        }
      }
    }
  }

  &.up-3 {
    > .cell {
      flex: 0 0 (100% / 3);
      max-width: (100% / 3);
    }
    @media #{$lg-up} {
      &-lg {
        > .cell {
          flex: 0 0 (100% / 3);
          max-width: (100% / 3);
        }
      }
    }
    @media #{$xl-up} {
      &-xl {
        > .cell {
          flex: 0 0 (100% / 3);
          max-width: (100% / 3);
        }
      }
    }
  }

  &.up-4 {
    > .cell {
      flex: 0 0 (100% / 4);
      max-width: (100% / 4);
    }
    @media #{$lg-up} {
      &-lg {
        > .cell {
          flex: 0 0 (100% / 4);
          max-width: (100% / 4);
        }
      }
    }
    @media #{$xl-up} {
      &-xl {
        > .cell {
          flex: 0 0 (100% / 4);
          max-width: (100% / 4);
        }
      }
    }
  }

  &.up-5 {
    > .cell {
      flex: 0 0 (100% / 5);
      max-width: (100% / 5);
    }
    @media #{$xxl-up} {
      &-xxl {
        > .cell {
          flex: 0 0 (100% / 5);
          max-width: (100% / 5);
        }
      }
    }
  }
}

.cell {

  &.auto {
    flex: 0 0 auto;
  }
  
  &.fill {
    flex: 1;
  }

  &.stretch {
    align-self: stretch;
  }

  &.xs-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &.lg-25 {
    flex: 0 0 (100% / 4);
  }

  @media #{$sm-up} {
    &.sm-50 {
      flex: 0 0 (100% / 2);
      max-width: (100% / 2);
    }
  }

  @media #{$md-up} {
    &.md-50 {
      flex: 0 0 (100% / 2);
      max-width: (100% / 2);
    }
  }

  @media #{$lg-up} {
    &.lg-100 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media #{$lg-up} {
    &.lg-50 {
      flex: 0 0 (100% / 2);
      max-width: (100% / 2);
    }
  }

  @media #{$lg-up} {
    &.lg-33 {
      flex: 0 0 (100% / 3);
    }
  }

  @media #{$xl-up} {
    &.xl-33 {
      flex: 0 0 (100% / 3);
    }
  }

  @media #{$xl-up} {
    &.xl-50 {
      flex: 0 0 (100% / 2);
    }
  }

  @media #{$xxl-up} {
    &.xxl-50 {
      flex: 0 0 (100% / 2);
      max-width: (100% / 2);
    }
  }
  
  &.pad-y {
    padding: 1.8rem 1.2rem;
  }

  &.store {
    @include display(inline-flex, row nowrap, flex-start, center);

    p,
    nav {
      @include display(inline-flex);
    }

    p {
      margin: 0 0.5em 0 0;
      white-space: nowrap;
      line-height: 1;
    }
  }

  &.logo {
    @include display(flex, row nowrap, flex-start, center);
    height: 70px;
    @include position;
    overflow: hidden;

    &:before {
      @include shape;
      @include position(
        absolute,
        null,
        (top, left, bottom, right),
        (0, 0, 0, 0),
        rotate(-45deg)
      );
      transform-origin: center left;
      @include size(200px, 150px);
      background: $accent;
    }

    .custom-logo {
      margin: 0;
    }

    > * {
      @include position(relative, 1);
    }
  }

  &.nav {
    @include display(flex, row nowrap, flex-start, center);
    height: 70px;
  }
}
.error-404 {
  @include display(flex, row wrap, flex-start, stretch);
  @media #{$lg-up} {
    height: 70vh;
  }
  
  .not-found,
  .return-home {
    @include display(flex, column nowrap, center, center);
    width: 100%;
    @media #{$lg-up} {
      width: 50%;
    }
    padding: 6rem 2.4rem;
    text-align: center;
  }

  .not-found {
    background: $accent-dark;
    color: $light-0;
  }
}