.top-bar,
.site-header {
  @include display(flex, row wrap, flex-start, center);
  @include position(fixed, 10, (left, right), (0, 0));
  padding: 0 3.6rem;
}

.top-bar {
  top: 0;
  .logged-in & {
    top: 46px;
    @media screen and (min-width: 782.1px) {
      top: 32px;
    }
  }
  height: 60px;
  background: #363636;
  font-size: 1.8rem;
  color: $light-0;

  > .row {
    height: 100%;
  }

  p {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $accent;
  }

  a {
    color: $light-0;
    span {
      font-family: $font__main;
      color: $light-15;
    }
  }

  .menu .menu-item {
    margin: 0 0.5rem;
  }
}

.site-header {
  top: 60px;
  .logged-in & {
    top: 106px;
    @media screen and (min-width: 782.1px) {
      top: 92px;
    }
  }
  
  height: 70px;
  background: $accent;
  background: linear-gradient(
    90deg,
    $accent 0%,
    $accent 40%,
    rgba(247, 247, 247, 1) 60%,
    rgba(247, 247, 247, 1) 100%
  );
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.26);

  > .row {
    height: 100%;
    max-width: none;
    background: #f7f7f7;
  }
}
