.top-bar,
.site-header {
    @include display(flex, column nowrap, flex-start, center);
}

.top-bar {
    background: #363636;
    font-size: 12px;
    color: #fff;

    a {
        color: #fff;
    }

    .store-contact {
        @include display(inline-flex, row nowrap);

        &-menu {
            @include display(inline-flex, row nowrap);
            margin: 0;
            padding: 0;
            list-style: none;
        }

        p, nav {
            @include display(inline-flex);
        }

        p {
            margin: 0 0.5em 0 0;
        }
    }
}
