#primary {
  padding-top: 100px;

  & > section {
    @include display(flex, column nowrap, flex-start, center);
    padding: 30px 0;

    &.page-hero {
      @include position;
      padding: 60px 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:after {
        @include shape;
        @include position(absolute, null, (top, left, right, bottom), (0, 0, 0, 0));
        background: rgba(0,0,0, 0.15);
      }

      > * {
        @include position(relative, 1);
      }

      .page-title {
        margin: -60px 0;
        padding: 60px;
        background: rgba($accent-dark, 0.85);
        color: $light-0;
      }
    }
  }
}
