#primary {
  padding-top: 100px;

  & > section {
    @include display(flex, column nowrap, flex-start, center);
    padding: 4.5rem 0;

    &.page-hero {
      @include position;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      body:not(.home) &:after {
        @include shape;
        @include position(absolute, null, (top, left, right, bottom), (0, 0, 0, 0));
        background: rgba(0,0,0, 0.15);
      }

      > * {
        @include position(relative, 1);
      }

      .bar {
        margin: -4.5rem 0;
        padding: 4.5rem;
        @include colors(rgba($accent-dark, 0.85), $light-0);

        body.home & {
          margin: 0;
          padding: 4.5rem;
        }
      }
    }
  }
}
