.splide__pagination {
  @include position(absolute, 1);
  @media #{$md-down} {
    width: 2.4rem;
    top: 0;
    right: 0;
  }
  @media #{$lg-up} {
    bottom: 0;
    right: 0;
  }
  padding: 3.6rem;

  &__page {
    @include size(2.4rem);
    padding: 0;
    margin: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.35);
    border: 3px solid $light-0;
    cursor: pointer;
    @include transition;

    &.is-active {
      transform: scale(1.3);
      border-color: $accent;
    }
  }
}
