.menu {
  @include display(inline-flex, row nowrap, null, stretch);
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    @include display(inline-flex, row nowrap, null, center);
    margin: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  &.nav-menu {
    .menu-item {
      font-size: 16px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  &.vertical {
    flex-flow: column nowrap;
  }
}
