img {
  display: block;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  a:not(:last-child) & {
    &:only-child {
      margin-bottom: 20px;
    }
  }

  &.custom-logo {
    width: 6rem;
  }
}

.img-w {
  @include display;
  @include position;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 20px;

  &:not(.has-logo) {
    background: #000;
  }

  &.slim {
    padding-top: ( 9 / 21 ) * 100%;
  }

  &.square {
    padding-top: 100%;

    img {
      width: auto;
      max-width: none;
      max-height: 100%;
    }

    @media #{$md-only} {
      &-md-only {
        padding-top: 100%;

        img {
          width: auto;
          max-width: none;
          max-height: 100%;
        }
      }
    }
  }

  &.video {
    padding-top: 56.25%;
    @media #{$lg-up} {
      &-lg {
        padding-top: 56.25%;
      }
    }
  }

  .splide & {
    border: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    @include position(
      absolute,
      1,
      (top, left),
      (50%, 50%),
      translate(-50%, -50%)
    );
    width: 100%;
    transition: transform 0.2s ease-out;

    &.logo {
      width: auto;
      max-width: calc(100% - 2rem);
      max-height: calc(100% - 2rem);
      min-height: auto;
    }
  }

  .grid.up-4 & {
    border-width: 3px;
  }
}

.has-icon {
  @include display(inline-flex, row nowrap, null, center);

  .fas {
    //padding-right: 0.5em;
  }
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}
